html, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, dl, dt, dd, a, div {
  font-family: 'Roboto', sans-serif !important;
}

.home-page {
  color: #612E77;
  background-color: #FAF0FD;
  box-sizing: border-box;
  margin: 0;
}

.content {
  margin: auto;
}

.personal-info {
  margin: 60px auto;
  padding: 0 10px;
  text-align: center;
  max-width: 100%;
}

.photo {
  margin: 0 auto 20px;
}

.photo img {
  width: 230px;
  height: 100%;
  max-width: 100%;
  border-radius: 100%;
  border: 4px dotted #8B679B;
  padding: 4px;
  box-sizing: border-box;
}

.blurb {
  margin: 1.5em 0 0.25em;
  font-size: 2.5em;
}

.blurb-subtitle {
  font-size: 1.5em;
  margin-top: 1.5em;
  font-weight: 300;
}

.personal-info .connections {
  margin: 1.5em auto 0.25em;
  font-size: 2.5em;
  padding: 0;
  width: 280px;
  max-width: 100%;
}

.personal-info .connections li {
  display: inline-block;
  list-style-type: none;
  width: 22%;
}

.personal-info .connections a {
  color: #8B679B;
}

.personal-info .connections a:hover {
  color: #612E77;
}

nav {
  padding: 10px 20px;
  background-color: #A68BB1;
}

.navbar {
  display: block;
  text-align: right;
  list-style-type: none;
  padding: 0;  
}

.navbar li {
  display: inline;
  margin: 0 5px;
  padding: 12px 18px;
  list-style-type: none;
  border-radius: 8px;
}

.navbar li.selected, .navbar li:hover {
  background-color: #8B679B;
}

.navbar li a {
  color: #FAF0FD;
  text-decoration: none;
}