.Page--transition {
  transition: opacity 0.5s cubic-bezier(0.2, 0, 0.57, 1), transform 0.3s cubic-bezier(0.2, 0, 0.57, 1);
}
.Page--transitionentering {
  opacity: 0;
  transform: translateY(50px) scale(1.1);
}
.Page--transitionentered {
  /*transition-delay: 0.2s;*/
}
.Page--transitionexiting {
  transition-duration: 0.2s;
  opacity: 0;
  transform: translateX(-50px) scale(0.7);
}
.Page--transitionexited {
  pointer-events: none;
  display: none;
  transform: translateY(50px) scale(1.1);
}
